<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <form action="{{ url_for('simplex') }}" method="GET">
	<p style="color: red;">OBSERVAÇÃO IMPORTANTE: Verificar o padrão dos exemplos. O sistema só aceita função objetivo e restrições com coeficientes positivos e espaço entre coeficiente e variável. Caso alguma informação não seja exibida na interface, verifique o log do Python que será exibida a tabela onde encontrou o resultado ótimo.</p>
	<p>Função Objetivo:<br/>Exemplo: 10 x1 + 12 x2<br/> <input type='text' id="funcao_objetivo" name='funcao_objetivo' value=''/>
	<p>Restrições:<br/>Exemplo: 1 x1 + 1 x2 <= 100; 1 x1 + 3 x2 <= 270 <input style="width: 100%" type='text' id="restricoes" name='restricoes' value=''/>
	<!-- -->
	<p>
	<hr>
	<input type="submit"/>
	<input type="button" value='Zerar' onclick="location.replace('{{ url_for('home') }}')" >
	</p>
  </form>
  <p>Resultado ótimo: {{valor_max}}</p>
  <p>Quantidade de X1 tem que ser igual a: {{valor_x1}}</p>
  <p>Quantidade de X2 tem que ser igual a: {{valor_x2}}</p>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  
</body>

</html>

